@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.inactiveCategory {
  @apply text-sm px-2 uppercase;
}

.activeCategory {
  @apply text-sm border-2 border-blue-400 text-blue-400 px-2 rounded-full uppercase transition;
}

.activeSlideBtn {
  @apply border-2 rounded-full border-blue-400;
}
.inactiveSlideBtn {
  @apply border-none;
}
